*{box-sizing:border-box;
margin:0;
padding:0;}
.community_container{
    display:flex;
    justify-content:center;
    background:rgb(161, 162, 163);
    height:100vh;
    align-content: center;
}
.community_wrapper{
    display: flex;
    flex-direction:column;
    justify-content: center;
   margin-left:50px;
   margin-right:50px;
    position:relative;
    transform:translate(10%, 0%);


}
.community_love{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;
    margin:40px;
    position: absolute;

}
 .community_love h3{
     font-size:30px;
     padding:20px;
}
.community-love h3{margin:30px;}
.profile_wrapper{display:flex;}
.community_profile{
    display:flex;
    justify-content:space-between;
    text-align:flex-start;
    margin-right:30px;
}
.person1_profile{
    display:flex;
    position: absolute;
     right:100px;
    bottom:40px;
    height:100%;
    width:200px;
    background:rgb(218, 215, 215);
}.person2_profile{
    display:flex;
    position:absolute;
   right:-10px;
   bottom:-30px;
    height:100%;
    width:200px;
    background:#eee;
}
.community_info{
    position: absolute;
    left:70px;
    bottom:40px;
}