*{box-sizing:border-box;
margin:0;
padding:0;}
.community_container{
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgb(184, 181, 181);
    min-height:70vh;
    height:auto;
}
.community_wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin:40px;
    padding:30px;
}
.community_love h3{ font-size:30px;
padding-top:20px;
padding-bottom:20px;}
.profile_wrapper{display:flex;}
.community_info{
    display:flex;
    margin-top:10px;
    flex-direction:column;
    padding:10px;
    margin-left:150px;
}
.community_info div{padding:15px;
font-size:23px;
font-family: 'Times New Roman', Times, serif;}
.community_info h3{ padding:15px;}
.community_profile{
    display:flex; 
    padding:20px;
position:relative;}
.person1_profile{margin:20px;
background:#eee;
width:250px;
height:350px;
border-radius:10px;}
.person2_profile{margin:20px;
background:#ddd;
width:250px;
height:350px;
border-radius:10px;
position:absolute;
bottom:10px;
right:-140px;}