*{box-sizing: border-box;}
.footer_container{display:flex;
flex-direction:column;
background:rgb(234,235,236)}
.growengineer_footer{display:flex;
    justify-content: space-between;
    padding:100px;
}
.growengineer_footer span{
    font-size:22px;
}
.expertise_footer{display:flex;
flex-direction:column;
}

.skill_blocks{
    display:flex;
    margin:50px;
    justify-content:space-between;
    padding-left:100px;
    font-size:18px;
    color:blue;
}
.main_footer{display:flex;
margin:70px;
padding:30px;}
.our_links{display:flex;
flex-direction:column;}
.our_links img{
    margin:20px;}
.socialmedia_icons{padding:20px;}
.hire_block_container{display:flex;
        padding:40px;
    }
    .hire_block_container div{
        padding:20px;
        margin:15px;
    }
.hire_block_container h3{
    color:rgb(2, 2, 119);
}
.hire_block_container p{padding:8px;
color:rgb(12, 12, 202);}
.actual_footer a{
    padding:20px;
    background:rgb(234,235,236);
    
}