*{box-sizing: border-box;}
.leader_message_container{
    background-color: rgba(211, 208, 208, 0.315);
    min-height:70vh;
    display:flex;
    justify-content:center;
     place-items: center;
}
.wrapper_message {
    display:flex;
}
.logo_testimonial{padding-top:-30px;}

.themessage{
    font-size:22px;
    padding-top:100px;
    padding-left:50px;

}
.authorTitle {color:rgb(134, 134, 134);
font-size:18px;}
.authorname{padding-top:20px;}