*{box-sizing:border-box;}
.btn-container{
    display:flex;
    margin:15px 20px 20px 20px;
}
.btn{
    border:none;
    outline:none;
    margin-left:30px;
    font-size:18px;
    padding:10px;
}
.firstBtn{
    background:rgb(5, 5, 199);
    padding:0 30px 0px 30px;
    color:#fff;
}
/* .primary:hover{background:rgb(2, 2, 153)} */
.middleBtn{background:orange;
    padding:0 30px 0px 30px;}
.lastBtn{
    background:#fff;
}