*{  margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{display:flex;
    margin-top:20px;
    margin-left:20px;
    font-family:'Times New Roman', Times, serif;
    color:rgb(119, 117, 117);


}
.hamburger{
        margin:8px 30px ;
        color:blue;
        font-size:20px;
    }

.logoimage{
        height:35px;
    }
.forcompanies{
         margin:10px 25px 20px 50px;
         font-size:20px;
    }
.forengineers{
        margin:10px 25px 20px 15px;
        font-size:20px;
    }
.enterprise{
        margin:10px 25px 20px 15px;
        font-size:20px;
    }
   
   
 nav{
        /* background:rgb(0, 121, 105); */
       max-height:80px;
       /* min-height:80vh; */
        width:250px;
        position:fixed;
        top:0;
        left:-100%;
        
    }
.closeIcon{color:#000;}
.nav-menu.active{
        left: 0;
        transition: 350ms;
       
    }
.nav-menu{
        background-color: rgba(37, 172, 82, 0.295);
        width: 250px;
        height: 100vh;
        display: flex;
        flex-direction:column;

  /* justify-content: center; */
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
    }
.item-menu{
        list-style:none;
        padding-left:20px;
    }
.item-menu a{text-decoration:none;}
a div h3{
        padding-bottom:10px;
        color:orange;
    }
    
a div p{font-size:20px;
    color:black;}