*{box-sizing: border-box;}
.success_container{
    display:flex;
    text-align:center;
    flex-direction:column;
    padding:50px;
    min-height:80vh;
    background:rgb(234,235,236);
    
}
.success_container h2{font-size: 30px;
    padding-bottom:40px;
}
.cases{display:flex;
    font-size:20px;
    justify-content: center;

}
.first_case{
width:40%;
height:200px;
border:green solid 1px;
margin-right:20px;
padding:20px

}
.first_case h3{padding:20px;}
.second_case{display:flex;
    flex-direction:column;
    width:40%;
height:200px;
border:green solid 1px;
flex-direction:column;
padding:20px;
margin-right:20px;}
.second_case h3{
    padding:20px;
}